@{
    ViewData["Title"] = "Contact Page";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's contacts.</p>
<form>
        <div class="form-group col-md-6">
            <label for="inputFirstName4">First Name</label>
            <input type="FirstName" class="form-control" id="inputFirstName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputLastName4">LastName</label>
            <input type="LastName" class="form-control" id="inputLastName4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPhoneNumber4">PhoneNumber</label>
            <input type="phonenumber" class="form-control" id="inputPhoneNumber4">
        </div>
   
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>