
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
<div class="container">
    @{
        var url = @item.Image[0].ImageUrl;
        <img src=@url class="rounded mx-auto d-block" alt="...">
    }
    <h2>@item.Name</h2>
    <h3>@item.Price.ToString()</h3>
</div>

}